* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayPhoto {
  height: 150px;
  width: auto;
}

.pictures {
  border: 2px solid blue;
}

.board {
  border: 2px solid magenta;
  height: 500px;
  width: 200px;
}